import requests
from telegram.ext import Updater, CommandHandler, MessageHandler, Filters

# Binance API URL for USDT price
binance_api_url = "https://api.binance.com/api/v3/ticker/price?symbol=USDTUSDT"

# Your Telegram Bot Token
telegram_token = "6803425535:AAEshBZk-vgNaVoZFxJado-FRQd_7ndAYqw"

# Initialize the Telegram Bot
updater = Updater(token=telegram_token, use_context=True)
dispatcher = updater.dispatcher

def start(update, context):
    context.bot.send_message(chat_id=update.effective_chat.id, text="Welcome to the USDT Price Bot!")

def get_usdt_price(update, context):
    response = requests.get(binance_api_url)
    data = response.json()
    price = data["price"]
    context.bot.send_message(chat_id=update.effective_chat.id, text=f"Current USDT Price: ${price}")

# Define command handlers
start_handler = CommandHandler('start', start)
price_handler = CommandHandler('price', get_usdt_price)

# Add command handlers to the dispatcher
dispatcher.add_handler(start_handler)
dispatcher.add_handler(price_handler)

# Start the bot
updater.start_polling()
updater.idle()
